:root {
  --grafico-fonte: 12px var(--fonte);
  --grafico-foco-cor: var(--azul-marinho);
  --grafico-foco-linha: 2.6;
  --grafico-feixe-cor: var(--azul-petroleo);
  --grafico-feixe-linha: 2;
  --grafico-feixe-linha-denso: 1.3;
  --grafico-feixe-opacidade: 0.75;
  --grafico-feixe-opacidade-denso: 0.3;
  --grafico-grade-cor: var(--cinza-90);
  --grafico-eixo-cor: var(--cinza-42);
  --grafico-grade-linha: 1;
}
