* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.coluna-central {
  margin-inline: auto;
  padding-inline: var(--espaco-20);
  max-width: var(--largura-maxima-da-pagina);
}

main {
  padding-block: var(--espaco-40) var(--espaco-64);
}
