:root {
  --azul-marinho: #142560;
  --azul-medio: #284c75;
  --azul-petroleo: #1094ab;
  --azul-petroleo-escuro: #0d7a8d;
  --amarelo-usp: #ffb500;
  --ciano-usp: #00c5d4;
  --cinza-24: #3d3d3d;
  --cinza-42: #6b6b6b;
  --cinza-90: #e5e5e5;
  --cinza-96: #f5f5f5;
  --branco: #ffffff;
}
